/**
* Created by shubham on 17/1/17.
*/
@import url('https://fonts.googleapis.com/css?family=Lora');

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Lora';
    margin: 0;
    z-index: 0;
}

#text{
    height: 30px;
    font-family: 'Lora';
}

a,
a:hover {
    text-decoration: none;
}

#particles-js{
    width: 100%;
    height:1000px;
    background: black;
}

#main-content,
#dp-img{
    position: absolute;
}


#main-content{
    height: 500px;
    width: 60%;
    z-index: 10;
    margin:220px auto auto 240px;
}

#dp-img{
    margin:90px auto auto 523px;
    z-index: 11;
    border-radius: 50%;
    border:4px solid #27AE60;
}

.img-bounce{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#profiles-links{
    list-style: none;
}

#profiles-links>li{
    padding: 13px;
    float: left;
}


.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}