/**
* Created by shubham on 17/1/17.
*/

html, body {
    width: 100%;
    height: 100%;
}

body {
    color: #666;
    background-color: #34495E;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;

    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

body #wrapper {
    overflow: hidden;
    min-height: 100%;
    background: url("../images/laptop-1805315_1280.jpg") no-repeat center fixed;
    background-size: cover;
}

section {
    display: block;
    position: relative;
    padding: 10px 0;

    -webkit-transition: all .400s;
    -moz-transition: all .400s;
    -o-transition: all .400s;
    transition: all .400s;

    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;

    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;

    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    background-size: cover !important;
    box-sizing: border-box !important;
}

#dp-img {
    margin-top: 3%;
    z-index: 11;
}

#dp-img > img {
    max-width: 266px;
    border-radius: 50%;
    border: 2px solid white;
}

.text-align,
.img-align {
    text-align: center !important;
    padding: 10px 0;
}

#intro > h2 {
    color: white;
}

#wrapper {
    z-index: 0;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#social-links {
    z-index: 11;
}

footer {
    color: white;
    text-align: center;
    width: 100%;
    bottom:0;
    padding: 10px 0;
    background-color: #34495E;
    margin: 0;
}

footer>h4{
    margin: 0!important;
    padding: 0;
}